<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MyGroup" type="AppConfig.MyGroup,Appconfig">
      <section name="MySection" type="AppConfig.MySection,Appconfig" />
    </sectionGroup>
    <section name="MySection" type="AppConfig.MySection,Appconfig" />
  </configSections>
  <appSettings>
    <add key="A" value="a"/>
    <add key="B" value="b"/>
    <add key="C" value="c"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="123" name="1"/>
    <add connectionString="456" name="2"/>
  </connectionStrings>
  <MySection Code="asdas">
    <Member Id="dasd"/>
    <Members>
      <add Id="1"/>
      <add Id="2"/>
      <add Id="3"/>
    </Members>
  </MySection>
  <MyGroup>
    <MySection Code="asdas1">
      <Member Id="dasd1"/>
      <Members>
        <add Id="12"/>
        <add Id="22"/>
      </Members>
    </MySection>
  </MyGroup>
</configuration>